.resource_header {
    color: var(--primary);
}

.professional-affiliations-header {
    padding-top: 1rem;
}

.affiliation-resources {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

.resource {
    margin: 1rem;
    padding: 1.5rem;
    background-color: var(--service-background);
    min-width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-icon {
    height: 2rem;
}

.right {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    .affiliation-resources {
        padding: 0;
    }

    .resource {
        margin: 0.5rem 1rem;
        padding: 1rem;
        background-color: var(--service-background);
        min-width: 19rem;
        min-height: 9rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .left, .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 13rem;
    }

}

@media (max-width: 480px) {

    .affiliation-resources {
        flex-direction: column;
    }

    .resource {
        padding: 2rem;
    }

}