.hero {
    display: flex;
    padding: 2rem 1rem 1rem 1rem;
}

.hero-left {
    flex-direction: row;
    padding: 1rem;

    h1 {
        padding: 1rem;
    }

    h5 {
        padding: 1rem;
    }

    button {
        margin: 1rem;
    }
}

.hero-right img {
    height: 25rem;
}