.certifications {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.badges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;

    img {
        height: 4rem;
        margin: 0 1rem;
    }
}

.member_badges {
    text-align: center;
}