.certifications {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 7.5rem 3rem;
}

.badges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;

    img {
        height: 4rem;
        margin: 0 1rem;
    }
}

.member_badges {
    text-align: center;
    padding: 0.5rem 1rem;

    #badge_link_text {
        font-size: 1rem;
        text-decoration: underline;
        color: var(--primary);
    }
}

@media screen and (min-width: 1001px) and (max-width: 1185px) {

    .certifications {
        padding-bottom: 3rem;
        
        .badges {
            img {
                height: 3rem;
            }
        }
    }

}

@media screen and (min-width: 769px) and (max-width: 1000px) {

    .certifications {
        width: 100%;
        padding: 1rem 0 2rem 0;

        .badges {
            margin: 0;
            padding: 0;

            img {
                padding: 1rem;
            }
        }
    }

}

@media screen and (max-width: 768px) {

    .certifications {
        width: 100%;
        padding: 1rem 0 2rem 0;

        .badges {
            margin: 0;
            padding: 0;

            img {
                padding: 1rem;
            }
        }
    }

}

@media screen and (max-width: 480px) {
    .certifications {
        padding: 3rem 1rem;
        align-items: center;
    }

    .badges {
        flex-direction: column;
        align-items: center;
        width: 100%;

        img {
            margin: 0;
            padding: 0;
            height: 6rem;
            width: auto;
        }
    }

    .member_badges {
        display: none;
    }
}