.services {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .header {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }

    .service-descriptions {
        display: flex;
        flex-direction: row;
        margin: 2rem 0;
        width: 100%;
        gap: 1rem;

        .left, .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1 1 50%;
            width: 100%;
        }

        .service-box {
            display: flex;
            flex-direction: column;
            margin: 0.5rem 0;
            padding: 2rem 1rem;
            width: 100%;
            box-sizing: border-box;

        }
        
        .service-bar {
            border-left: 0.4rem solid var(--secondary);
        }

        .service-background {
            border-left: 0.4rem solid transparent;
            background-color: var(--service-background);
        }

        h4, h5 {
            margin-left: 1rem;
        }

        h5 {
            margin-top: 0.5rem;
        }

    }

    .services-button {
        margin: 1rem;
        text-align: center;
    }

}

@media (max-width: 768px) {
    .services {
        .header {
            text-align: center;
        }

        .service-descriptions {
            gap: 1rem;

            .left, .right {
                min-width: 48%;
            }
        }
    }
}