/* 
1. I want the left and right div to be in columns next to each other 
2. I want each of the service boxes to be the same height
3. I want service bar boxes to have the green service bar on the left of the box
4. I want service background boxes to have the background color
*/

.services {
    display: flex;
    flex-direction: column;
    
    .header {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }

    .service-descriptions {
        display: flex;
        flex-direction: row;
        margin: 2rem 0;

        .left, .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .service-box {
            display: flex;
            flex-direction: column;
            margin: 0.5rem;
            padding: 2rem 1rem 2rem 1rem;

        }
        
        .service-bar {
            border-left: 0.4rem solid var(--secondary);
        }

        .service-background {
            border-left: 0.4rem solid transparent;
            background-color: var(--service-background);
        }

        h4, h5 {
            margin-left: 1rem;
        }

        h5 {
            margin-top: 0.5rem;
        }

    }

    .services-button {
        margin: 1rem;
        text-align: center;
    }

}